body {
  font-family: 'Georgia', serif;
  background: #1c1c1c; 
  color: #f5f5dc; 
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
}

header {
  background: #2b2b2b; 
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.6);
  display: inline-block;
  border: 2px solid #5a4633;
  margin-bottom: 50px; 
  text-align: center;
}

h1 {
  color: #f5f5dc; 
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

h2 {
  color: #cbb994; 
  font-weight: normal;
}

button {
  background: #5a4633; 
  color: #f5f5dc;
  border: none;
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.4s;
  font-weight: bold;
  letter-spacing: 1px;
}

button:hover {
  background: #7a5c3e; 
}

p {
  margin-top: 15px;
  font-style: italic;
  color: #b22222; 
}
section
{
  font-size: 20px;
}